<p id="notice"><%= notice %></p>

 <div id="itemsContainer">
  <div>
   <button id="fade" role ="button">See Our Products</button>
  </div>
  
     
      <% @items.each do |item| %>
      <div class="itemhols">
       <h1><%= item.make %></h1>
       
       <%= link_to (image_tag item.image_url, :class => "itemholsIm"), item %>
        <p><%= item.description %></p>
        <p>Price <%= number_to_currency(item.price, :unit => "€") %>
        <br>
        Model: <%= item.model %></p>
       
       <p>
         <%= link_to 'Show',  item, :class => "button", :role => "button" %>
         <%= link_to 'Edit',  edit_item_path(item), :class => "button", :role => "button" %>
         <%= link_to 'Destroy',  item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
       </p>
        
      </div>
    <% end %>
      
</div>
<%= link_to 'New Item',  new_item_path, :class => "itemButton", :role => "button" %>
<br>

<script src="../javascripts/fade.js"></script>
<script src="../javascripts/jquery.js"></script>
