<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | PhoneShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Phone</span>Shop</h1>
        </div>    
        <nav>
          <ul>
            <li data-turbolinks="false"><%= link_to "Home", "/" %></li>
            <li data-turbolinks="false"><%= link_to "About", about_path %></li>
            <li data-turbolinks="false"><%= link_to "Products", "/items" %></li>
          </ul> 
        </nav>
      </div>
    </header>

    <%= yield %>
    
    
      <footer>
        <p>PhoneShop | Copyright &copy 2019</p>
      </footer>
    
  </body>
</html>
